@import url("https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: min(100%, 1920px);
  margin-inline: auto;
  height: auto;
}

.navContainer {
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  box-shadow: 0px 2px 0px 0px #F4CE14;
  margin-bottom: 1px;
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  height: 100px;
  top: 0;
  background-color: white;
  transition: background-color 0.3s ease;
  z-index: 1;
}
.navContainer .nav {
  display: flex;
  width: min(60%, 1920px);
  margin-inline: auto;
}
.navContainer .nav img {
  width: 25%;
  padding: 1%;
  cursor: pointer;
}
.navContainer .nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
}
.navContainer .nav ul li a {
  text-decoration: none;
  color: #495E57;
}
.navContainer .nav .burger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.ctaContainer {
  background-color: #495E57;
}
.ctaContainer .cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: min(60%, 1920px);
  height: 400px;
  margin-inline: auto;
  font-family: "Markazi Text", serif;
  padding: 1%;
}
.ctaContainer .cta .ctaLeft {
  width: 70%;
}
.ctaContainer .cta .ctaLeft h1 {
  color: #F4CE14;
  font-size: 4rem;
  font-weight: 500;
}
.ctaContainer .cta .ctaLeft span {
  font-size: 3rem;
  color: #EDEFEE;
}
.ctaContainer .cta .ctaLeft p {
  padding: 0 25% 1% 1%;
  font-size: 1.5rem;
  color: #EDEFEE;
}
.ctaContainer .cta .ctaLeft button {
  margin: 5px;
  width: 180px;
  height: 50px;
  border: 0px solid;
  border-radius: 10px;
  background-color: #F4CE14;
  color: black;
  font-family: "Markazi Text", serif;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}
.ctaContainer .cta .ctaRight {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ctaContainer .cta .ctaRight img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 80%;
  border: 0px solid;
  border-radius: 15px;
  user-zoom: none;
  box-shadow: 0px 1px 10px 1px #333333;
}

.specialsContainer .specials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(60%, 1920px);
  height: 750px;
  margin-inline: auto;
  font-family: "Markazi Text", serif;
  padding: 1%;
}
.specialsContainer .specials .specialsTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.specialsContainer .specials .specialsTop h1 {
  font-size: 3rem;
  font-weight: 500;
}
.specialsContainer .specials .specialsTop button {
  margin: 5px;
  width: 180px;
  height: 50px;
  border: 0px solid;
  border-radius: 10px;
  background-color: #F4CE14;
  color: black;
  font-family: "Markazi Text", serif;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}
.specialsContainer .specials .specialsBottom {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  background-color: #EDEFEE;
  border-radius: 15px;
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
  border: 0px solid;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  user-zoom: none;
}
.card .cardBottom {
  height: 50%;
  padding: 10%;
}
.card .cardBottom .name-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.card .cardBottom .name-price :nth-child(2) {
  color: #EE9972;
}
.card .cardBottom span {
  font-weight: 600;
  font-family: "Markazi Text", serif;
  font-size: 1.2rem;
}
.card .cardBottom .description {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  height: 70%;
}
.card .cardBottom .order {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}
.card .cardBottom .order :nth-child(2) {
  margin-left: 10px;
}

.customerSaysContainer {
  background-color: #EDEFEE;
}
.customerSaysContainer .customerSays {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(60%, 1920px);
  height: 500px;
  margin-inline: auto;
  font-family: "Markazi Text", serif;
  padding: 1%;
}
.customerSaysContainer .customerSays .csTitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 50px;
}
.customerSaysContainer .customerSays .csContent {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 200px;
  background-color: white;
  border-radius: 15px;
}
.testimonial .tIcon {
  margin: 10px;
}
.testimonial .tName {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.testimonial .tComment {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial img {
  border-radius: 100px;
  width: 50px;
}

.chicagoContainer .chicago {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: min(60%, 1920px);
  height: 700px;
  margin-inline: auto;
  font-family: "Karla", sans-serif;
  padding: 1%;
}
.chicagoContainer .chicago .chicagoLeft {
  width: 40%;
}
.chicagoContainer .chicago .chicagoLeft h1 {
  color: #F4CE14;
  font-size: 4rem;
  font-weight: 600;
}
.chicagoContainer .chicago .chicagoLeft span {
  font-size: 2.5rem;
  color: #495E57;
}
.chicagoContainer .chicago .chicagoLeft p {
  padding: 5% 5% 1% 1%;
  font-size: 1rem;
  color: #495E57;
}
.chicagoContainer .chicago .chicagoRight {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  position: relative;
}
.chicagoContainer .chicago .chicagoRight img:nth-child(2) {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 300px;
  margin-bottom: -20%;
  box-shadow: 0px 1px 10px 1px #333333;
}
.chicagoContainer .chicago .chicagoRight img:nth-child(1) {
  position: absolute;
  left: 40%;
  margin-bottom: 15%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 300px;
  box-shadow: 0px 1px 10px 1px #333333;
}

.footerContainer {
  background-color: #333333;
}
.footerContainer .footer {
  display: flex;
  justify-content: space-around;
  width: min(60%, 1920px);
  height: 350px;
  margin-inline: auto;
  font-family: "Karla", sans-serif;
  color: #EDEFEE;
  padding: 5% 1% 1% 1%;
}
.footerContainer .footer li {
  list-style: none;
  line-height: 1.5;
  cursor: pointer;
}
.footerContainer .footer li:first-child {
  font-weight: 600;
  margin-bottom: 10px;
}
.footerContainer .footer .footerImg {
  width: 25%;
}
.footerContainer .footer .footerImg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 150px;
  border: 2px solid #EDEFEE;
  box-shadow: 0px 1px 10px 1px rgb(255, 255, 255);
}/*# sourceMappingURL=App.css.map */