@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: min(100%, 1920px);
  margin-inline: auto;
  height: auto;
}

.btn {
  margin: 5px;
  width: 180px;
  height: 50px;
  border: 0px solid;
  border-radius: 10px;
  background-color: #F4CE14;
  color: black;
  font-family: "Markazi Text", serif;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-sm {
  width: 110px !important;
}

.btn:hover {
  transform: scale(1.01);
  background-color: #ffe600;
}

.navContainer {
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 1.05rem;
  box-shadow: 0px 2px 0px 0px #F4CE14;
  margin-bottom: 1px;
  position: sticky;
  display: flex;
  height: 100px;
  top: 0;
  background-color: white;
  transition: background-color 0.3s ease;
  z-index: 1;
}
.navContainer .nav {
  display: flex;
  width: min(60%, 1920px);
  margin-inline: auto;
  align-items: center;
  cursor: pointer;
}
.navContainer .nav .menuButton {
  display: none;
}
.navContainer .nav img {
  width: 175px;
  cursor: pointer;
}
.navContainer .nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
}
.navContainer .nav ul li a {
  text-decoration: none;
  color: #495E57;
  transition: 0.1s;
}
.navContainer .nav ul li:hover {
  font-weight: 600;
  font-size: 1.1rem;
}

.reservationContainer {
  background-color: #495E57;
  color: #EDEFEE;
}
.reservationContainer .reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(60%, 1920px);
  height: auto;
  margin-inline: auto;
  font-family: "Karla", sans-serif;
  padding: 1%;
}
.reservationContainer .reservation label {
  margin: 2%;
  font-weight: bold;
}
.reservationContainer .reservation p {
  margin: 2%;
  color: #FBDABB;
}
.reservationContainer .reservation .hide {
  visibility: hidden;
  font-size: 0.7rem;
}
.reservationContainer .reservation .show {
  visibility: visible;
}
.reservationContainer .reservation .input {
  margin: 2%;
  width: 225px;
  height: 45px;
  border: 1px solid #EDEFEE;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  font-family: "Karla", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
}
.reservationContainer .reservation .time {
  margin: 0% 0 0 1%;
}
.reservationContainer .reservation .select {
  width: 225px;
}
.reservationContainer .reservation h1 {
  color: #F4CE14;
  font-size: 3rem;
  padding: 1%;
  font-family: "Markazi Text", serif;
}
.reservationContainer .reservation .formTop {
  display: flex;
  align-items: center;
}
.reservationContainer .reservation .formMiddle {
  display: flex;
  align-items: center;
}
.reservationContainer .reservation .formBottom {
  display: flex;
  align-items: center;
}
.reservationContainer .reservation .formItem {
  display: flex;
  flex-direction: column;
  margin: 0px 5px 0px 5px;
}
.reservationContainer .reservation .info {
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.reservationContainer .reservation .info p {
  color: #EDEFEE;
  font-size: 1.2rem;
  margin: 2% 0 2% 0 !important;
}
.reservationContainer .reservation .info span {
  font-weight: bold;
}
.reservationContainer .reservation .infoh1 {
  font-family: "Markazi Text", serif;
  font-size: 2.5rem;
}

.ctaContainer {
  background-color: #495E57;
}
.ctaContainer .cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: min(60%, 1920px);
  height: 400px;
  margin-inline: auto;
  font-family: "Markazi Text", serif;
  padding: 1%;
}
.ctaContainer .cta .ctaLeft {
  width: 70%;
}
.ctaContainer .cta .ctaLeft h1 {
  color: #F4CE14;
  font-size: 4rem;
  font-weight: 500;
}
.ctaContainer .cta .ctaLeft span {
  font-size: 3rem;
  color: #EDEFEE;
}
.ctaContainer .cta .ctaLeft p {
  padding: 0 25% 1% 1%;
  font-size: 1.5rem;
  color: #EDEFEE;
}
.ctaContainer .cta .ctaRight {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ctaContainer .cta .ctaRight img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 80%;
  border: 0px solid;
  border-radius: 15px;
  user-zoom: none;
  box-shadow: 0px 1px 10px 1px #333333;
}

.specialsContainer .specials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(60%, 1920px);
  height: 750px;
  margin-inline: auto;
  font-family: "Markazi Text", serif;
  padding: 1%;
}
.specialsContainer .specials .specialsTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.specialsContainer .specials .specialsTop h1 {
  font-size: 3rem;
  font-weight: 500;
}
.specialsContainer .specials .specialsBottom {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  background-color: #EDEFEE;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
  border: 0px solid;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  user-zoom: none;
}
.card .cardBottom {
  height: 50%;
  padding: 10%;
}
.card .cardBottom .name-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.card .cardBottom .name-price :nth-child(2) {
  color: #EE9972;
}
.card .cardBottom span {
  font-weight: 600;
  font-family: "Markazi Text", serif;
  font-size: 1.2rem;
}
.card .cardBottom .description {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  height: 70%;
}
.card .cardBottom .order {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}
.card .cardBottom .order :nth-child(2) {
  margin-left: 10px;
}

.card:hover {
  transform: scale(1.02);
}

.customerSaysContainer {
  background-color: #EDEFEE;
}
.customerSaysContainer .customerSays {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(60%, 1920px);
  height: auto;
  margin-inline: auto;
  font-family: "Markazi Text", serif;
  padding: 5% 0 5% 0%;
}
.customerSaysContainer .customerSays .csTitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.customerSaysContainer .customerSays .csContent {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 200px;
  background-color: white;
  border-radius: 15px;
}
.testimonial .tIcon {
  margin: 10px;
}
.testimonial .tName {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.testimonial .tComment {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial img {
  border-radius: 100px;
  width: 50px;
}

.chicagoContainer .chicago {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: min(60%, 1920px);
  height: auto;
  margin-inline: auto;
  font-family: "Karla", sans-serif;
  padding: 5%;
}
.chicagoContainer .chicago .chicagoLeft {
  width: 40%;
}
.chicagoContainer .chicago .chicagoLeft h1 {
  color: #F4CE14;
  font-size: 4rem;
  font-weight: 600;
}
.chicagoContainer .chicago .chicagoLeft span {
  font-size: 2.5rem;
  color: #495E57;
}
.chicagoContainer .chicago .chicagoLeft p {
  padding: 5% 5% 1% 1%;
  font-size: 1rem;
  color: #495E57;
}
.chicagoContainer .chicago .chicagoRight {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  position: relative;
}
.chicagoContainer .chicago .chicagoRight img:nth-child(2) {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 300px;
  margin-bottom: -20%;
  box-shadow: 0px 1px 10px 1px #333333;
}
.chicagoContainer .chicago .chicagoRight img:nth-child(1) {
  position: absolute;
  left: 40%;
  margin-bottom: 15%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 300px;
  box-shadow: 0px 1px 10px 1px #333333;
}

.footerContainer {
  background-color: #333333;
}
.footerContainer .footer {
  display: flex;
  justify-content: space-around;
  width: min(60%, 1920px);
  height: 350px;
  margin-inline: auto;
  font-family: "Karla", sans-serif;
  color: #EDEFEE;
  padding: 5% 1% 1% 1%;
}
.footerContainer .footer li {
  list-style: none;
  line-height: 1.5;
  cursor: pointer;
}
.footerContainer .footer li:first-child {
  font-weight: 600;
  margin-bottom: 10px;
}
.footerContainer .footer .footerImg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 150px;
  border: 2px solid #EDEFEE;
  box-shadow: 0px 1px 10px 1px rgb(255, 255, 255);
}

@media screen and (max-width: 1024px) {
  .navContainer {
    font-size: 0.8rem;
    height: 80px;
    transition: background-color 0.3s ease;
    z-index: 1;
  }
  .navContainer .nav img {
    width: 100px;
  }
  .navContainer .nav li:hover {
    font-size: 1rem !important;
  }
  .ctaContainer .cta .ctaLeft h1 {
    font-size: 3.5rem;
    font-weight: 500;
  }
  .ctaContainer .cta .ctaLeft span {
    font-size: 2.5rem;
  }
  .ctaContainer .cta .ctaLeft p {
    padding: 0 15% 1% 1%;
    font-size: 1.2rem;
    color: #EDEFEE;
  }
  .ctaContainer .cta .ctaLeft button {
    margin: 15px 5px 5px 5px;
    width: 180px;
    height: 45px;
  }
  .specialsContainer .specials {
    width: min(60%, 1920px);
    height: auto;
    margin-inline: auto;
    font-family: "Markazi Text", serif;
    padding: 1%;
  }
  .specialsContainer .specials .specialsTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .specialsContainer .specials .specialsTop h1 {
    font-size: 2rem;
    font-weight: 500;
  }
  .specialsContainer .specials .specialsTop button {
    margin: 5px;
    width: 180px;
    height: 45px;
  }
  .specialsContainer .specials .specialsBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 300px;
    margin: 10px;
  }
  .card .cardBottom {
    padding: 5%;
  }
  .card span {
    font-weight: 600;
    font-family: "Markazi Text", serif;
    font-size: 1.2rem;
  }
  .csContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .csTitle {
    font-size: 1.3rem !important;
  }
  .testimonial {
    margin-bottom: 10px;
  }
  .chicagoLeft h1 {
    font-size: 3rem !important;
  }
  .chicagoLeft span {
    font-size: 1.5rem !important;
  }
  .chicagoLeft p {
    padding: 5% 5% 1% 1%;
    font-size: 0.8rem !important;
  }
  .chicagoRight img:nth-child(2) {
    position: relative;
    -o-object-fit: cover;
       object-fit: cover;
    width: 200px !important;
    height: 200px !important;
    margin-bottom: -20%;
    box-shadow: 0px 1px 10px 1px #333333;
  }
  .chicagoRight img:nth-child(1) {
    position: absolute;
    left: 40%;
    margin-bottom: 15%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 200px !important;
    height: 200px !important;
    box-shadow: 0px 1px 10px 1px #333333;
  }
  .footer .footerImg img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 150px !important;
    height: 100px;
  }
  .footer ul {
    padding: 10%;
  }
  .footer li {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .btn-sm {
    width: 225px !important;
    height: 40px !important;
  }
  .info p {
    font-size: 1rem !important;
  }
  .infoh1 {
    font-size: 1.7rem !important;
  }
  .navContainer {
    font-size: 0.8rem;
    height: 80px;
    transition: background-color 0.3s ease;
    z-index: 1;
  }
  .navContainer .nav {
    display: flex;
    justify-content: space-around;
  }
  .navContainer .nav img {
    width: 150px;
  }
  .navContainer .nav ul {
    padding: 20px;
    display: none;
  }
  .navContainer .nav .menuButton {
    display: block;
    background-color: white;
    border: 0px solid;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25%;
    right: 5%;
    transition: all 0.3s ease;
  }
  .navContainer .nav .menuButton:hover {
    transform: rotate(20deg);
  }
  .navContainer .nav .open {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px; /* Navbar yüksekliği */
    right: 0;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 1px 10px 1px #EDEFEE;
    transition: all 0.3s ease;
  }
  .navContainer .nav .open li {
    font-size: 1rem !important;
    padding: 5px;
  }
  .reservation h1 {
    font-size: 2rem !important;
  }
  .reservation .formTop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reservation .formMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reservation .formBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ctaContainer .cta .ctaLeft h1 {
    font-size: 2.5rem;
  }
  .ctaContainer .cta .ctaLeft span {
    font-size: 2rem;
  }
  .ctaContainer .cta .ctaLeft p {
    font-size: 1rem;
  }
  .ctaContainer .cta .ctaLeft button {
    margin: 15px 5px 5px 5px;
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
  }
  .ctaContainer .cta .ctaRight {
    width: 30%;
    height: auto;
  }
  .specialsContainer .specials .specialsTop {
    display: flex;
    flex-direction: column;
  }
  .specialsContainer .specials .specialsTop h1 {
    font-size: 1.8rem;
    margin: 20px 0px 20px 0px;
  }
  .specialsContainer .specials .specialsTop button {
    width: 200px;
    height: 40px;
    font-size: 1.2rem;
  }
  .specialsContainer .specials .specialsBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 250px;
    margin: 10px;
  }
  .card img {
    height: 50%;
  }
  .card .cardBottom {
    padding: 5%;
  }
  .card p {
    font-size: 0.8rem !important;
  }
  .card span {
    font-weight: 600;
    font-size: 1rem !important;
  }
  .customerSays h1 {
    font-size: 2rem;
  }
  .csContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .csTitle {
    font-size: 1.3rem !important;
  }
  .testimonial {
    margin-bottom: 10px;
  }
  .chicago {
    display: flex;
    flex-direction: column !important;
  }
  .chicagoLeft {
    width: 100% !important;
  }
  .chicagoLeft h1 {
    font-size: 2rem !important;
  }
  .chicagoLeft span {
    font-size: 1.5rem !important;
  }
  .chicagoLeft p {
    font-size: 0.8rem !important;
  }
  .chicagoRight {
    margin-top: 50px;
    width: 100% !important;
    padding: 10% 25% 25% 25% !important;
  }
  .chicagoRight img:nth-child(1) {
    position: relative;
    -o-object-fit: cover;
       object-fit: cover;
    width: 200px !important;
    height: 200px !important;
    margin-bottom: -20%;
    box-shadow: 0px 1px 10px 1px #333333;
  }
  .chicagoRight img:nth-child(2) {
    position: absolute;
    right: 50% !important;
    margin-bottom: 15%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 200px !important;
    height: 200px !important;
    box-shadow: 0px 1px 10px 1px #333333;
  }
  .footer .footerImg {
    display: none;
  }
  ul {
    padding: 10%;
  }
  li {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=App.css.map */