@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap');

$fontKarla : 'Karla', sans-serif;
$fontMarkazi : 'Markazi Text', serif;

$colorPrimary1: #495E57;
$colorPrimary2: #F4CE14;
$colorSecondary1: #EE9972;
$colorSecondary2: #FBDABB;
$colorHighlight1: #EDEFEE;
$colorHighlight2: #333333;
// desktop version
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    width: min(100%, 1920px);
    margin-inline: auto;
    height: auto;
}


// navbar css
.navContainer{
    font-family: $fontKarla;
    font-weight: 500;
    font-size: 1.1rem;
    box-shadow: 0px 2px 0px 0px $colorPrimary2;
    margin-bottom: 1px;
    position: sticky;
    display: flex;
    height: 100px;
    top: 0;
    background-color: white;
    transition: background-color 0.3s ease;
    z-index: 1;

 
        .nav{
            display: flex;
            width: min(60%, 1920px);
            margin-inline: auto;
            .menuButton{
                display: none;
            }
            img{
                width: 25%;
                padding: 1%;
                cursor: pointer;
               }
               ul{
                list-style: none;
                display: flex;
                width: 100%;
                justify-content:space-between;
                align-items: center;
                padding-left: 10%;
                    li a{
                       text-decoration:none;
                       color: $colorPrimary1;
                    }
               }
           
        }
}


//call to action css

.ctaContainer{
    background-color: $colorPrimary1;
    .cta{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: min(60%, 1920px);
        height: 400px;
        margin-inline: auto;
        font-family: $fontMarkazi;
        padding: 1%;
        .ctaLeft{
            width: 70%;
         
            h1{
                color: $colorPrimary2;
                font-size: 4rem;
                font-weight: 500;
            }
            span{
                font-size: 3rem;
                color: $colorHighlight1;
            }
            p{
                padding: 0 25% 1% 1%;
                font-size: 1.5rem;
                color: $colorHighlight1;

            }
            button{
                margin: 5px;
                width: 180px;
                height: 50px;
                border: 0px solid;
                border-radius: 10px;
                background-color: $colorPrimary2;
                color: black;
                font-family: $fontMarkazi;
                font-size: 1.4rem;
                font-weight: 600;
                cursor: pointer;
            }
        }
        .ctaRight{
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            img{
                object-fit: cover;
                width: 100%;
                height: 80%;
                border: 0px solid;
                border-radius: 15px;
                user-zoom: none;
                box-shadow: 0px 1px 10px 1px $colorHighlight2;
    
            }
        }
    }
}


// specials css

.specialsContainer{
    .specials{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: min(60%, 1920px);
        height: 750px;
        margin-inline: auto;
        font-family: $fontMarkazi;
        padding: 1%;
        .specialsTop{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 20px;
            h1{
                font-size: 3rem;
                font-weight: 500;
            }
            button{
                margin: 5px;
                width: 180px;
                height: 50px;
                border: 0px solid;
                border-radius: 10px;
                background-color: $colorPrimary2;
                color: black;
                font-family: $fontMarkazi;
                font-size: 1.4rem;
                font-weight: 600;
                cursor: pointer;
            }
        }
        .specialsBottom{
            display: flex;
            justify-content: space-between;
        }
    }
}

// card css
 
.card{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    background-color: $colorHighlight1;
    border-radius: 15px;
    img{
        object-fit: cover;
        width: 100%;
        height: 250px;
        border: 0px solid;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        user-zoom: none;

    }
    .cardBottom{
        height: 50%;
        padding: 10%;
       .name-price{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        :nth-child(2){
        color: $colorSecondary1;
        }
       }
        span{
            font-weight: 600;
            font-family: $fontMarkazi;
            font-size: 1.2rem;
        }
        .description{
            font-family: $fontKarla;
            font-size: 1rem;
            height: 70%;
        }
        .order{
            display: flex;
            justify-content:flex-start;
            margin-top: 10px;
            margin-bottom: 30px;
            :nth-child(2){
               margin-left: 10px;
                }
                cursor: pointer;
        }
     
    }
}

// customers says css
 .customerSaysContainer{
    background-color: $colorHighlight1;
    .customerSays{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: min(60%, 1920px);
        height: auto;
        margin-inline: auto;
        font-family: $fontMarkazi;
        padding: 5% 0 5% 0%;
        .csTitle{
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 30px;
        }
        .csContent{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
 }
    

// testimonial css

 .testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
    background-color: white;
    border-radius: 15px;
    
    .tIcon{
        margin: 10px;
    }
    .tName{
        width: 75%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
    }
    .tComment{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        border-radius: 100px;
        width: 50px;
    }
 }


//chicago css

.chicagoContainer{

    .chicago{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: min(60%, 1920px);
        height: auto;
        margin-inline: auto;
        font-family: $fontKarla;
        padding: 5%;
        .chicagoLeft{
            width: 40%;
         
            h1{
                color: $colorPrimary2;
                font-size: 4rem;
                font-weight: 600;
              
            }
            span{
                font-size: 2.5rem;
                color: $colorPrimary1;
            }
            p{
                padding: 5% 5% 1% 1%;
                font-size: 1rem;
                color: $colorPrimary1;
              
            }

        }
        .chicagoRight{
            width: 60%;
            height: 100%;
            display: flex;
            justify-content:space-between;
            align-items: center;
            padding-left: 10%;
            position: relative;
          
            img:nth-child(2){
                position: relative;
                object-fit:cover;
                width: 300px;
                height: 300px;
                margin-bottom: -20%;
                box-shadow: 0px 1px 10px 1px $colorHighlight2;
    
            }
            img:nth-child(1){
                position: absolute;
                left: 40%;
                margin-bottom: 15%;
                object-fit: cover;
                width: 300px;
                height: 300px;
                box-shadow: 0px 1px 10px 1px $colorHighlight2;
                
            }
          
        }
    }
}


// footer css
.footerContainer{
    background-color: $colorHighlight2;
    .footer{
        display: flex;
        justify-content:space-around;
        width: min(60%, 1920px);
        height: 350px;
        margin-inline: auto;
        font-family: $fontKarla;
        color: $colorHighlight1;
        padding: 5% 1% 1% 1%;
        li{
            list-style: none;
            line-height: 1.5;
            cursor: pointer;
            
        }
        li:first-child {
            font-weight: 600;
            margin-bottom: 10px;
        }   
        .footerImg{
            img{
                object-fit:cover;
                width: 200px;
                height: 150px;
                border: 2px solid $colorHighlight1;
                box-shadow: 0px 1px 10px 1px rgba(255,255,255,1);

            }
        }
      
    }
 }

 // ******************tablet version*******************

 @media screen and (max-width: 1024px) {

    // navbar css
    .navContainer{
        font-size: 0.8rem;
        height: 80px;
        transition: background-color 0.3s ease;
        z-index: 1;
        .nav{
            img{
                width: 30%;
            }
        }
       
    }

    //call to action css

.ctaContainer{
    .cta{
        .ctaLeft{
            h1{
                font-size: 3.5rem;
                font-weight: 500;
            }
            span{
                font-size: 2.5rem;
            }
            p{
                padding: 0 15% 1% 1%;
                font-size: 1.2rem;
                color: $colorHighlight1;

            }
            button{
                margin: 15px 5px 5px 5px;
                width: 180px;
                height: 45px;
                border: 0px solid;
                border-radius: 10px;
                background-color: $colorPrimary2;
                color: black;
                font-family: $fontMarkazi;
                font-size: 1.4rem;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}

// specials css

.specialsContainer{
    .specials{
       
        width: min(60%, 1920px);
        height: auto;
        margin-inline: auto;
        font-family: $fontMarkazi;
        padding: 1%;
        .specialsTop{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            h1{
                font-size: 2rem;
                font-weight: 500;
            }
            button{
                margin: 5px;
                width: 180px;
                height: 45px;
                border: 0px solid;
                border-radius: 10px;
                background-color: $colorPrimary2;
                color: black;
                font-family: $fontMarkazi;
                font-size: 1.4rem;
                font-weight: 600;
                cursor: pointer;
            }
        }
        .specialsBottom{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
// card css

.card{
    width: 300px;
    margin: 10px;
    .cardBottom{
        padding: 5%;
       }
        span{
            font-weight: 600;
            font-family: $fontMarkazi;
            font-size: 1.2rem;
        }
     
    }


    // customer says css
    .csContent{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .csTitle{
            font-size: 1.3rem !important;
    }

    // testimonial css
    .testimonial{
        margin-bottom: 10px;
 }

    //chicago css
    .chicagoLeft{
        h1{
            font-size: 3rem !important;
          
        }
        span{
            font-size: 1.5rem !important;
        }
        p{
            padding: 5% 5% 1% 1%;
            font-size: 0.8rem !important; 
        }

    }
    .chicagoRight{
        img:nth-child(2){
            position: relative;
            object-fit:cover;
            width: 200px !important;
            height: 200px !important;
            margin-bottom: -20%;
            box-shadow: 0px 1px 10px 1px $colorHighlight2;

        }
        img:nth-child(1){
            position: absolute;
            left: 40%;
            margin-bottom: 15%;
            object-fit: cover;
            width: 200px !important;
            height: 200px !important;
            box-shadow: 0px 1px 10px 1px $colorHighlight2;
            
        }
      
    }

    //footer css
    .footer{
        .footerImg{
            img{
                object-fit:cover;
                width: 150px !important;
                height: 100px;
     }
        }
        ul{

            padding: 10%;
        }
        li{
            font-size: 0.8rem;
        }
    }
    
    
}

// ******************mobile version*******************

@media screen and (max-width: 768px) {

    // navbar css
    .navContainer{
        font-size: 0.8rem;
        height: 80px;
        transition: background-color 0.3s ease;
        z-index: 1;
        .nav{
            display: flex;
           justify-content: space-around;
           img{
            width: 50%;
           }
           ul{
            padding: 20px;
            display: none;
           }
           .menuButton{
            display: block;
            background-color: white;
            border: 0px solid;
            position: absolute;
            width: 50px;
            height: 50px;
            top: 25%;
            right: 5%;
        }
           .open {
            width: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 80px; /* Navbar yüksekliği */
            right: 0;
            background-color: white;
            z-index: 2;
            box-shadow: 0px 1px 10px 1px $colorHighlight1;
                li{
                    font-size: 1rem !important;
                    padding: 5px;
            
                }
        
          }
        }
    }

    //call to action css

.ctaContainer{
    .cta{
        .ctaLeft{
            h1{
                font-size: 2.5rem;
            }
            span{
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
            }
            button{
                margin: 15px 5px 5px 5px;
                width: 150px;
                height: 40px;
                font-size: 1.2rem;

            }
        }
        .ctaRight{
            width: 30%;
            height: auto;
           
        }
    }
}

// specials css

.specialsContainer{
    .specials{
        .specialsTop{
            display: flex;
            flex-direction: column;
            h1{
                font-size: 1.8rem;
                margin: 20px 0px 20px 0px;
            }
            button{
                width: 200px;
                height: 40px;
                font-size: 1.2rem;
               
            }
        }
        .specialsBottom{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
// card css

.card{
    width: 250px;
    margin: 10px;
    img{
        height: 50%;
    }
    .cardBottom{
        padding: 5%;
       }
       p{
        font-size: 0.8rem !important;
       }
        span{
            font-weight: 600;
            font-size: 1rem !important;
        }
     
    }


    // customer says css
    .customerSays{
        h1{
            font-size: 2rem;
        }
    }
    .csContent{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .csTitle{
            font-size: 1.3rem !important;
    }

    // testimonial css
    .testimonial{
        margin-bottom: 10px;  
 }

    //chicago css
    .chicago{
        display: flex;
        flex-direction: column !important;
       
    }
    .chicagoLeft{
        width: 100% !important;
        h1{
            font-size: 2rem !important;
        }
        span{
            font-size: 1.5rem !important;
        }
        p{
            font-size: 0.8rem !important; 
        }

    }
    .chicagoRight{
       margin-top: 50px;
       width: 100% !important;
       padding: 10% 25% 25% 25% !important;
       img:nth-child(1){
        position: relative;
        object-fit:cover;
        width: 200px !important;
        height: 200px !important;
        margin-bottom: -20%;
        box-shadow: 0px 1px 10px 1px $colorHighlight2;

    }
    img:nth-child(2){
        position: absolute;
        right: 50% !important;
        margin-bottom: 15%;
        object-fit: cover;
        width: 200px !important;
        height: 200px !important;
        box-shadow: 0px 1px 10px 1px $colorHighlight2;
        
    }
    }

    //footer css
    .footer{
        .footerImg{
           display: none;
     }
        }
        ul{

            padding: 10%;
        }
        li{
            font-size: 0.8rem;
        }
    }
    
